**/.classpath
**/.dockerignore
**/.env
**/.git
**/.gitignore
**/.project
**/.settings
**/.toolstarget
**/.vs
**/.vscode
**/.next
**/.cache
**/*.*proj.user
**/*.dbmdl
**/*.jfm
**/bin
**/obj
**/logs
**/node_modules
**/npm-debug.log
**/secrets.xml
**/TestResults
**/wwwroot
