# Database Connection String
ConnectionStrings__DefaultConnection=postgresql://postgres.lbjzmajvqaguunipdfie:[YOUR-PASSWORD]@aws-1-eu-west-1.pooler.supabase.com:5432/postgres

# # JWT Settings
JwtSettings__SecretKey=your-super-secret-key-change-this-in-production
JwtSettings__Issuer=QuizMonitor
JwtSettings__Audience=QuizMonitorUsers
JwtSettings__ExpirationMinutes=60
JwtSettings__RefreshTokenExpirationDays=7
